<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resume Portfolio</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
</head>
<body>
<div class="profile">
    <img src="..\static\images\profile_pic.jpg" height="102px" width="100px" class="centered-image">
    <div class="name">
        Aman Kumar Verma
    </div>
    <div class="profile_info">
        <p>Backend Developer<br>Java Spring Boot</p>
    </div>
    <div class="middle">
       <a href="mailto:amakv055@gmail.com" target="_blank"><img src="..\static\images\icons\mail.png" class="icon"></a>
       <a href="https://github.com/aman-kr-verma?tab=overview&from=2023-05-01&to=2023-05-18" target="_blank"><img src="..\static\images\icons\github.png" class="icon"></a>
       <a href="https://www.linkedin.com/in/aman-kumar-verma-2144581b7/" target="_blank"><img src="..\static\images\icons\linkedin.png" class="icon"></a>
    </div>
    <div class="profile_info_bottom">
fgd
    </div>
</div>
<div class="container">
    <div class="summary">
        <h4 class="title">PROFILE SUMMARY</h4>
        <p class="content">
            <ul>
                <li>Software Engineer with 1.5 years of experience.</li>
                <li> Developed RESTful web services utilizing a 3-tier and microservices architecture. Successfully implemented 
                    microservice communication(via REST-Template), Configured and managed API Gateway with Eureka 
                    Netflix Service Registry and client, ensuring seamless communication between microservices and enabling 
                    efficient routing, security, and monitoring of RESTful APIs, secured the application using Spring Security 
                    OAuth2 (via okta for user authentication and authorization), implemented global exception handling, 
                    performed unit-testing using JUnit and Mockito, worked with MySQL and PostgreSQL for data storage, and 
                    containerized the application using Docker and deployed it to AWS.
                    </li>
                <li>Developed interactive visuals and dashboards using PowerBI, written DAX for custom business logic, 
                    created views in db and datasets, power automate flows using Power Automate from Microsoft.</li>
                <li>Passionate about developing applications that are secure, robust, and scalable, and eager to leverage the 
                    latest technologies to create innovative solutions.</li>
            </ul>
        </p>
    </div>
    <br>
    <div class="summary">
        <h4 class="title">SKILL SET</h4>
        <table class="content, xyz">
            
            <tr>
              <td class="first_cell">Language</td>
              <td class="sec_cell">:</td>
              <td class="third_cell">Java</td>
            </tr>
            <tr>
              <td>Database</td>
              <td>:</td>
              <td>PostgreSQL, MySQL</td>
            </tr>
            <tr>
              <td>Backend</td>
              <td>:</td>
              <td>Core-Java, Spring Boot, JPA/Hibernate, Junit & Mockito, Restful webservices</td>
            </tr>
            <tr>
              <td>DevOps Tools </td>
              <td>:</td>
              <td>Docker, AWS</td>
            </tr>
            <tr>
              <td>DevTools  </td>
              <td>:</td>
              <td>GIT, SonarQube, Atlassian Jira & Conf, Postman, Swagger, Jenkins, PowerBI</td>
            </tr>
          </table>
          
        <!-- <p class="content, xyz">
            Language  <span class="spaced">:</span>  Java<br>
            Database      <span class="spaced">:</span>     PostgreSQL, MySQL<br>
            Backend        <span class="spaced">:</span>    Core-Java, Spring Boot, JPA/Hibernate, Junit & Mockito, Restful webservices<br>
            DevOps Tools   <span class="spaced">:</span>     Docker, AWS<br>
            DevTools       <span class="spaced">:</span>    GIT, SonarQube, Atlassian Jira & Conf, Postman, Swagger, Jenkins, PowerB<br>
        </p> -->
        
    </div>
</div>
</body>
</html>



